.episodes{
    &__episodes-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
		color: #fff;
	}

	&__filter {
		display: flex;
		margin-bottom: 15px;

		span {
			color: #ffffff;
			margin-top: 20px;
		}

		&-search {
			width: 20%;
			margin: 15px;
			font-size: 14px;
			outline: none;
			padding: 5px;
		}
	}
}